.container-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-project {
  background-color:rgba(179, 180, 180, 0.247);
  border-radius: 10px;
  height: 400px;
  width: 337px;
  margin: 7px 7px;
}

.projects-links {
  display: flex;
  justify-content: center;
  margin: 29px 5px;
  padding: 10px;
}

.projects-links a {
  background-color: rgba(200, 207, 207, 0.247);
  font-family: 0.2rem Verdana, Geneva, Tahoma, sans-serif;
  color: #2f4169e7;
  border: none;
  border-radius: 5px;
  padding-top: 4px;
  margin: 4px 17px;
  height: 27px;
  width: 70px;
  cursor: pointer;
}

.content-project a:hover {
  background-color:rgba(144, 150, 150, 0.692);
}

.content-project img {
  height: 200px;
  width: 200px;
  border-radius: 47%;
  margin-top: 10px;
}

h2 {
  color: rgba(21, 100, 179, 0.767);
}

.content-project h2 {
  color: rgb(29, 28, 28);
}
