.container-about {
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
}

.content-about {
  background-color: #2b2d31f5;
  box-shadow: 1px 12px 10px rgb(148, 144, 144);
  text-align: center;
  height: 510px;
  width: 500px;
  border: solid 0.2px #47494bf5;
  border-radius: 25px;
  margin: 7px 8px;
}

.content-about img {
  margin-top: 15px;
  border-radius: 19%;
  height: 100px;
  width: 100px;
}

.about-certificates {
  margin-top: 29px;
}

.about-tech {
  margin-top: 58px;
}

.about-certificates a {
  background-color: transparent;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 4px;
  color: rgb(41, 158, 84);
  border: none;
  border-radius: 9px;
  margin: 2px 2px;
  cursor: pointer;
}

.about-tech button {
  border: none;
  border-radius: 4px;
  background-color: rgb(35, 109, 170);
  color: #fff;
  height: 29px;
  margin: 12px 4px;
}

.about-certificates h3 {
  color: rgb(54, 121, 177);
  margin-bottom: 20px;
}

.about-tech h3 {
  color: rgb(54, 121, 177);
}

h2{
  color: rgba(21, 100, 179, 0.767);
}

hr {
  width: 87px;
}
