.container-about {
  display: flex;
  justify-content: center;
}

.content-about {
  background-image: linear-gradient(92.88deg, #302e2e 9.16%, #383737d7 43.89%, #525050 64.72%);
  text-align: center;
  height: 510px;
  width: 500px;
  border: solid 0.2px #464545f5;
  border-radius: 20px;
  box-shadow: 5px 10px 10px #7c7979;
}

.content-about img {
  margin-top: 10px;
  border-radius: 10%;
  height: 140px;
  width: 140px;
}

.about-certificates {
  margin-top: 52px;
}

.about-tech {
  margin-top: 54px;
}

.about-certificates a {
  background-color: transparent;
  font-size: 15px;
  font-family: cursive;
  padding: 4px;
  color: rgb(41, 158, 84);
  border: none;
  border-radius: 9px;
  margin: 2px 2px;
  cursor: pointer;
}

.about-tech button {
  border: none;
  border-radius: 4px;
  background-color: rgb(35, 109, 170);
  color: #fff;
  height: 29px;
  margin: 12px 4px;
}

.about-certificates h3 {
  color: rgb(54, 121, 177);
  margin-bottom: 20px;
}

.about-tech h3 {
  color: rgb(54, 121, 177);
}

h2{
  color: rgba(21, 100, 179, 0.767);
}

hr {
  width: 87px;
}
